html{
  scroll-behavior: auto;
}

body {
  font-family: "Roboto";
  background-color:white;
}

.body-load {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container .load {
  width: 100px;
  height: 100px;
  border-top: solid 5px yellow;

}

.nav-cont {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px 50px 150px;
  align-items: center;
}
.nav-cont-ul {
  display: flex;
  list-style: none;
  gap: 50px;
  color: grey;
}
.nav-cont a {
  text-decoration: none;
  font-size: 15px;
}
.nav-contact-us {
  background-color: blue;
  color: white;
  padding: 10px 20px;
}
.Empower-section {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  margin: 20px 150px 20px 150px;
}
.Empower-section-text {
  width: 500px;
  position: relative;
}
.Empower-section-text h1 {
  color: #3A4165;
}
.Empower-section-text p {
  color: grey;
  padding-top: 30px;
  font-size: 20px;
}
.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 60px;
}
  
  .img {
    position: relative;
  }
  
  .img-card1 {
    height: 250px;
    position: absolute;
    left: -40px;
  }
  .img-card2 {
    height: 250px;
    position: absolute;
    bottom: -80px;
    left: 300px;
  }
  
  .img-hero {
    height: 500px;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  h3 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  h4 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar {
    margin: 0px 14 px;
  }

  #brands {
    margin: 2.5rem 0;
  }

  #brands .brands-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  #brands .brands-logo a {
    width: 20%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    filter: none;
  }
  
  #brands .brands-logo a:nth-of-type(-n + 4) img {
    width: 20%;
  }

.projects-section {
    padding: 100px 170px 100px 170px;
  }
  
  .projects-section h3 {
    padding-bottom: 50px;
    color: #292e47;
  }
  
  .projects-flex-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    
  }
  
  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
  }
  
  .project img {
    width: 360px;
    box-sizing: content-box;
  }
  
  .project a {
    padding: 50px 0px 40px 20px;
    color: #0623a5;
    text-decoration: none;
  }
  
  .project-cont-text {
    padding: 20px;
    color: #292E47
  }

  .review-section {
    background-color: #3b4680;
    background-image: url('https://github.com/dzc1/amazon-class01-apr23/blob/main/boiler-plates/midterm-boiler-plates/midterm-project-boiler/resources/images/testimonial-section/orbit.png?raw=true');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 100px 150px 100px 150px;
    padding: 50px 0px 50px 0px;
  }
  
  .review-emoticons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .review-emoticons-1-2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-left: 80px;
  }
  
  .review-emoticons-3-4 {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-right: 80px;
  }
  
  .review-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  
  .review-text h3 {
    text-align: center;
    color: white;
    font-size: 35px;
  }
  
  .review-text h4 {
    text-align: center;
    color: yellow;
    font-weight: 400;
  }
  
  profilimg {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profilimg h5 {
    color: #7da4be;
    font-weight: 400;
    
  }
  
  .profilimg h6 {
    color: white;
    font-weight: 200;
  }
  
  .profilimg img{
    width: 50px;
    clip-path: circle(200px at 50% 50%);
  }

  
  .services-section {
    margin: 100px 200px 100px 200px;
  }
  
  .services-section h3 {
    padding-bottom: 60px;
    color: #292E47
  }
  
  .services-flex-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    height: 300px;
  }
  
  .services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 20px 20px 20px 20px;
    color: #292E47
  }
  
  .services img {
    background-color: #ecf7ff;
    border-radius: 100px;
    width: 50px;
    padding: 10px;
    
  }
  
  .services a {
    text-decoration: none;
    color: blue;
  }
  
  
  .question-section {
    background-color: yellow;
    margin: 100px 150px 100px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 100px 0px 100px 0px;
    color: #292E47
  }
  
  .question-section h3 {
    text-align: center;
  }
  
  .question-input button {
    background-color: #072ac8;
    color: white;
    text-decoration: none;
    border: none;
    width: 100px;
    height: 40px;
  }
  .question-input button:hover {
    background-color: #062199;
    color: white;
    text-decoration: none;
    border: none;
    width: 100px;
    height: 40px;
  }
  
  .question-input input {
    border: 0px;
    height: 40px;
    width: 400px;
    background-image: url(https://raw.githubusercontent.com/dzc1/amazon-class01-apr23/eb3971df7512e38773a684940962c0305829df6f/boiler-plates/midterm-boiler-plates/midterm-project-boiler/resources/images/newsletter/icon/mail.svg);
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 40px;  
  }
  
  .footer {
    display: flex;
    justify-content: center;
    gap: 400px;
    margin: 100px 200px 100px 200px;
    color: #4c5581
  }
  
  .footer-logo {
    padding-bottom: 10px;
  }
  
  .footer-tabl {
    display: grid;
    grid-template-columns: 120px 120px 100px;
    gap: 30px;
  }
  .footer-tabl a {
    font-size: 15px;
    text-decoration: none;
    color: blue;
  }
  .footer-tabl a:hover {
    font-size: 15px;
    text-decoration: none;
    color: #5c6594
  }
  
  .scroll-top-btn {
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 999;
    bottom: 2vh;
    right: 2vh;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #0c076a;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
    color: #40486e;
  }
  
  #scrollTopTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9000;
    font-size: 18px;
    width: 500px;
    height: 80px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}